<launch>
  <arg name="scan_topic"              default="scan"/>
  <include file="$(find eys3d_robot)/launch/lidar/$(env EYS3DLIDAR).launch" />
  <arg name="map_file" default="$(find eys3d_robot)/maps/house.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

  <include file="$(find eys3d_robot)/launch/amcl.launch" />
  <include file="$(find eys3d_robot)/param/navigation/move_base.xml" />
  <node pkg="topic_tools" type="throttle" name="relay_scan" args="messages scan 5 $(arg scan_topic)" required="true">
    <param name="lazy" value="false"/>
  </node>

</launch>
