[submodule "wrappers/python"]
	path = wrappers/python
	url = git@github.com:eYs3Dsw/eys3d_python_wrapper.git
[submodule "DMPreview/HD-DM-Windows-SDK-Release"]
	path = DMPreview/HD-DM-Windows-SDK-Release
	url = git@github.com:eYs3Dsw/HD-DM-Windows-SDK-Release.git
[submodule "DMPreview/HD-DM-Android-SDK-Release"]
	path = DMPreview/HD-DM-Android-SDK-Release
	url = git@github.com:eYs3Dsw/HD-DM-Android-SDK-Release.git
[submodule "DMPreview/HD-DM-Linux-SDK-Release"]
	path = DMPreview/HD-DM-Linux-SDK-Release
	url = git@github.com:eYs3Dsw/HD-DM-Linux-SDK-Release.git
[submodule "wrappers/opencv"]
	path = wrappers/opencv
	url = git@github.com:eYs3Dsw/eys3d_opencv_wrapper.git
[submodule "wrappers/ros"]
	path = wrappers/ros
	url = git@github.com:eYs3Dsw/eys3d_ros.git
[submodule "wrappers/unity"]
	path = wrappers/unity
	url = git@github.com:eYs3D/eys3d_unity_release.git
[submodule "tools/eCaptureView_Windows"]
	path = tools/eCaptureView_Windows
	url = git@github.com:Wenling-YU/eCaptureView_Windows.git
