[submodule "wrappers/python"]
	path = wrappers/python
	url = git@github.com:eYs3Dsw/eys3d_python_wrapper.git
[submodule "wrappers/opencv"]
	path = wrappers/opencv
	url = git@github.com:eYs3Dsw/eys3d_opencv_wrapper.git
[submodule "wrappers/ros"]
	path = wrappers/ros
	url = git@github.com:eYs3Dsw/eys3d_ros.git
[submodule "wrappers/unity"]
	path = wrappers/unity
	url = git@github.com:eYs3D/eys3d_unity_release.git
[submodule "tools/eCaptureView_Windows"]
	path = tools/eCaptureView_Windows
	url = git@github.com:eYs3D/eCaptureView_Windows.git
[submodule "tools/eCaptureView_Android"]
	path = tools/eCaptureView_Android
	url = git@github.com:eYs3D/eCaptureView_Android.git
[submodule "tools/eCaptureView_Linux"]
	path = tools/eCaptureView_Linux
	url = git@github.com:eYs3D/eCaptureView_Linux.git
[submodule "third-party"]
	path = third-party
	url = git@github.com:eYs3D/third-party.git
[submodule "examples"]
	path = examples
	url = git@github.com:eYs3D/examples.git
