[submodule "wrappers/ros"]
	path = wrappers/ros
	url = git@github.com:eYs3Dsw/eys3d_robot.git
[submodule "wrappers/python"]
	path = wrappers/python
	url = git@github.com:eYs3Dsw/eys3d_python_wrapper.git
