<launch>
  <include file="$(find eys3d_robot)/launch/eys3d/depth2lidar/eys3d_dmpreview_to_lidar.launch"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.05 0 0.12 0 0 0  /base_link /laser  100"/>

  <arg name="map_file" default="$(find eys3d_robot)/maps/house.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

  <include file="$(find eys3d_robot)/launch/eys3d/nav/config/amcl.launch" />
  <include file="$(find eys3d_robot)/launch/eys3d/nav/config/move_base.xml" />
 
  <!-- startup patrol navigation node -->
 <!-- <node pkg="eys3d_robot" type="patrol_nav.py" name="patrol_nav_node" output="screen" >
    <param name="rest_time"     value="5" />
    <param name="keep_patrol"   value="false" />
    <param name="random_patrol" value="false" />
    <param name="patrol_type"   value="0" />
    <param name="patrol_loop"   value="5" />
    <param name="patrol_time"   value="10" />
  </node>
-->
</launch>
