<launch>
  <arg name="scan_topic"              default="/scan"/>
  <include file="$(find eys3d_robot)/launch/eys3d/depth2lidar/eys3d_dmpreview_to_lidar.launch"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.04 0 0.18 0 0 0  /base_link /laser  100"/>

  <arg name="map_file" default="$(find eys3d_robot)/maps/house.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

  <include file="$(find eys3d_robot)/launch/eys3d/nav/config/amcl.launch" />
  <include file="$(find eys3d_robot)/launch/eys3d/nav/config/move_base.xml" />
  <node pkg="topic_tools" type="throttle" name="relay_scan" args="messages scan 5 $(arg scan_topic)" required="true">
    <param name="lazy" value="false"/>
  </node>

</launch>
