<?xml version="1.0"?>
<launch>
    <include file="$(find eys3d_robot)/launch/eys3d/depth2lidar/eys3d_d2l_dm_preview.launch"/>

	<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">

		<remap from="image" to="/dm_preview/depth/image_raw"/>
		<remap from="camera_info" to="/dm_preview/depth/camera_info"/>
		<remap from="scan" to="/scan"/>

		<param name="scan_height" value="10"/>
		<param name="scan_time" value="0.05"/>
		<param name="range_min" value="0.45"/>
		<param name="range_max" value="1.8"/>
		<param name="output_frame_id" value="laser" />

	</node>
</launch>
